In [18]:
import pandas as pd

In [19]:
weather_raw = pd.read_csv("./data/HistoryDataWeatherToronto.csv")

In [20]:
weather_raw.head(10)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,15.14,10000.0,7.19,14.25,...,12.86,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d
1,1684285200,2023-05-17 01:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,12.97,10000.0,5.40,11.89,...,10.80,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
2,1684288800,2023-05-17 02:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,11.63,10000.0,3.90,10.39,...,9.26,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
3,1684292400,2023-05-17 03:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,10.07,10000.0,2.90,8.73,...,13.38,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
4,1684296000,2023-05-17 04:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,8.97,10000.0,1.86,5.88,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
5,1684299600,2023-05-17 05:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,7.95,10000.0,0.20,4.09,...,11.83,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
6,1684303200,2023-05-17 06:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,6.84,10000.0,-0.33,2.65,...,10.80,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
7,1684306800,2023-05-17 07:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,5.72,10000.0,-0.49,1.37,...,10.29,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n
8,1684310400,2023-05-17 08:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,4.43,10000.0,-0.84,1.09,...,NaN,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
9,1684314000,2023-05-17 09:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,3.59,10000.0,-1.73,0.05,...,NaN,NaN,NaN,NaN,NaN,20,801,Clouds,few clouds,02n

In [21]:
city_df = weather_raw.groupby("city_name")
toronto_full_df = city_df.get_group("Toronto")

In [22]:
toronto_df = toronto_full_df[["dt_iso", "weather_id"]]

In [23]:
merge_df = pd.merge(weather_raw, toronto_df, on='dt_iso', how='left')

In [24]:
weather_sorted = merge_df.sort_values(by=['dt_iso'])
weather_sorted.head(100)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id_x,weather_main,weather_description,weather_icon,weather_id_y
0,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,15.14,10000.0,7.19,14.25,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,800
18896,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Peterborough,44.304706,-78.319961,10.39,10000.0,4.32,9.21,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03d,800
37987,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Kitchener,43.451639,-80.492534,12.52,10000.0,7.41,11.68,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,800
9776,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Barrie,44.389356,-79.690332,10.00,NaN,3.73,7.03,...,NaN,NaN,NaN,NaN,78,803,Clouds,broken clouds,04d,800
28375,1684281600,2023-05-17 00:00:00 +0000 UTC,-14400,Niagara Falls,43.089558,-79.084944,15.11,10000.0,7.41,14.24,...,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04d,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,1684350000,2023-05-17 19:00:00 +0000 UTC,-14400,Toronto,43.653226,-79.383184,10.20,NaN,-0.79,8.48,...,NaN,NaN,NaN,NaN,12,801,Clouds,few clouds,02d,801
38006,1684350000,2023-05-17 19:00:00 +0000 UTC,-14400,Kitchener,43.451639,-80.492534,11.41,NaN,-0.63,9.73,...,NaN,NaN,NaN,NaN,8,800,Clear,sky is clear,01d,801
9795,1684350000,2023-05-17 19:00:00 +0000 UTC,-14400,Barrie,44.389356,-79.690332,8.36,NaN,-1.28,5.79,...,NaN,NaN,NaN,NaN,3,800,Clear,sky is clear,01d,801
18915,1684350000,2023-05-17 19:00:00 +0000 UTC,-14400,Peterborough,44.304706,-78.319961,11.68,NaN,-4.32,9.71,...,NaN,NaN,NaN,NaN,9,800,Clear,sky is clear,01d,801
28394,1684350000,2023-05-17 19:00:00 +0000 UTC,-14400,Niagara Falls,43.089558,-79.084944,8.89,NaN,-1.59,7.01,...,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d,801

In [12]:
weather_sorted[['dt_iso', 'city_name','weather_main_x', 'weather_main_y']]

,dt_iso,city_name,weather_main_x,weather_main_y
0,2023-05-17 00:00:00 +0000 UTC,Toronto,Clear,Clear
18896,2023-05-17 00:00:00 +0000 UTC,Peterborough,Clouds,Clear
37987,2023-05-17 00:00:00 +0000 UTC,Kitchener,Clear,Clear
9776,2023-05-17 00:00:00 +0000 UTC,Barrie,Clouds,Clear
28375,2023-05-17 00:00:00 +0000 UTC,Niagara Falls,Clouds,Clear
...,...,...,...,...
28374,2024-05-17 23:00:00 +0000 UTC,Peterborough,Clouds,Clouds
18895,2024-05-17 23:00:00 +0000 UTC,Barrie,Clear,Clouds
37986,2024-05-17 23:00:00 +0000 UTC,Niagara Falls,Clouds,Clouds
9775,2024-05-17 23:00:00 +0000 UTC,Toronto,Clouds,Clouds
47605,2024-05-17 23:00:00 +0000 UTC,Kitchener,Clouds,Clouds

In [17]:
merge_df.to_csv('./data/WeatherData_TorontoLabel.csv', index=False ,sep=',', header=True, encoding='utf-8')
weather_sorted.to_csv('./data/SortedWeatherData_TorontoLabel.csv', index=False ,sep=',', header=True, encoding='utf-8')